<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Estação Carnide</a>
  </li>
</ul>

<div class="card" style="width: 100%;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card-body text-center">
        <h4 class="card-title">Próximo Onibus: </h4>
        <h6 class="card-subtitle mb-2 text-muted">Sentido Reboleira</h6>
        <h2><span class="badge badge-primary badge-success" >14:20</span></h2>
      </div>
    </div>
    <!-- <div class="col-sm-6 align-items-start">
        <h4><span class="badge badge-primary badge-success">14:20</span></h4>
    </div> -->
  </div>
  <div class="card-body">
    <h6 class="card-title">Próximos: </h6>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Sentido Telheiras
        <span class="badge badge-primary badge-success">14:20</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Sentido Odivelas
        <span class="badge badge-primary badge-warning">14:20</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Sentido Apolónia
        <span class="badge badge-primary badge-primary">14:20</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Sentido Aeroporto
        <span class="badge badge-primary badge-danger">14:20</span>
      </li>
    </ul>
  </div>
  <div class="card-footer text-center">
    <a href="#" class="card-link">Ver Mapa</a>
  </div>
</div>