<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Mapa de Lisboa</a>
  </li>
</ul>

<!-- <div class="container text-center">
  <img src="../assets/Img/Lisboa.png" class="img-fluid" alt="...">
</div> -->

<div id="container" class="container text-center">
  <img id="pic1" src="../assets/Img/LisboaBW.png" class="img-fluid">
  <img id="linhaAzul" *ngIf="azul" src="../assets/Img/AzulLine.png" class="img-fluid">
  <img id="linhaVerde" *ngIf="verde" src="../assets/Img/VerdeLine.png" class="img-fluid">
  <img id="linhaAmarela" *ngIf="amarelo" src="../assets/Img/AmareloLine.png" class="img-fluid">
  <img id="linhaVermelha" *ngIf="vermelho" src="../assets/Img/RosaLine.png" class="img-fluid">
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-dark" style="width: 100%;" (click)="showTodos()">Todas as Linhas</button>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col">
      <button type="button" class="btn btn-outline-primary" style="width: 100%;" (click)="toggleAzul()">Azul</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-danger" style="width: 100%;" (click)="toggleVermelho()">Vermelha</button>

    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col">
      <button type="button" class="btn btn-outline-success" style="width: 100%;" (click)="toggleVerde()">Verde</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-warning" style="width: 100%;" (click)="toggleAmarelo()">Amarela</button>
    </div>
  </div>
</div>

<div class="card-footer text-center">
    <a href="#" class="card-link" (click)="toggleView(0)">Voltar</a>
  </div>