#container {
    position: relative;
}
  
#linhaVerde {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#linhaAmarela {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#linhaVermelha {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#linhaAzul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
  